[Desktop Entry]
Name=MOD-App
GenericName=MOD Application
Comment=Desktop application for the MOD host and UI server
Exec=mod-app %u
Icon=mod
Terminal=false
Type=Application
Categories=AudioVideo;AudioEditing;Qt;
MimeType=application/x-mod-app-project;
Version=1.0
